*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JsInteropTest/gradle
/JsInteropTest/build
/JsInteropTest/.gradle
/JsInteropTest/war
/JsInteropTest/gradlew.bat
/JsInteropTest/gradlew
/JsInteropTest/.idea
/Mvp4g2SimpleApplicationUsingElemental2/src/main/webapp/simpleApplicationElemental2
/Mvp4g2SimpleApplicationUsingElemento/src/main/webapp/simpleApplicationElemento
