@CHARSET "UTF-8";

.header {
    margin: 12px;
}

.searchPanelButtonBar {
    text-align: right;
    width: 100%;
    float: left;
}

.headline {
    font-family: arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #4200fe;
    margin: 6px;
}

.button {
    width: 112px;
    margin: 6px;
}

.widgetContainerTextBox {
    width: 100%;
}

.widgetContainerTextBoxTextBox {
    padding: 6px 0px 6px 0px;
}

.widgetPanelTextBox {
    height: 32px;
    padding: 6px;
}

.panelTextBox {
    /*border: 1px solid #4200fe;*/
    /*border-radius: 6px;*/
    /*background-color: #d3f4fa;*/
    /*width: 100%;*/
    padding: 6px 4px 2px 12px;
}

.labelTextBox {
    padding: 9px 12px 12px 0px;
    font-family: arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #4200fe;
    float: left;
}

.textBoxTextBox {
    display: block;
    font-family: arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #4200fe;
    width: 400px;
}

.table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.cellTableHeader {
    border-bottom: 2px solid #6f7277;
    padding: 3px 15px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    overflow: hidden;
}
